services:
  user-service:
    image: user-service
    build:
      context: ./back-end/user-service
      dockerfile: Dockerfile.dev
    restart: always
    volumes:
      - ./back-end/user-service:/code
    depends_on:
      - postgres_db
    ports:
      - "8000:8000"

  frontend:
    image: frontend
    build:
      context: ./front-end
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - ./front-end/src:/app/src
      - ./front-end/public:/app/public
    restart: always
    depends_on:
      - user-service
      - postgres_db

  postgres_db:
    image: postgres:latest
    restart: always
    container_name: PostgresCont
    environment:
      - POSTGRES_USER=ziakhan
      - POSTGRES_PASSWORD=my_password
      - POSTGRES_DB=mydatabase
    ports:
      - "5433:5432"
    volumes:
      - postgres_db:/var/lib/postgresql/data

volumes:
  postgres_db:
    driver: local
networks:
  default:
    driver: bridge
